.chat-bubble-mama {
    text-align: right;
    margin-left: auto;
    border-radius: 15px;
    padding: 10px;
    max-width: 75%;
    background: #6366F1;
}

.chat-bubble-papa {
    text-align: left;
    border:1px solid gray;
    margin-right: auto;
    border-radius: 15px;
    padding: 10px;
    max-width: 75%;
    
}

.list-group-items {
    list-style-type: none;
}

.List-group {
}
.btn-mine {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-bottom: 30px;
}