.create-course-btn {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  align-self: flex-start;
}
.create-course-btn a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.create-course-btn a:hover {
  background-color: #0056b3;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.title-input-field {
  text-align: center;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.course-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.course-card .course-image img {
  width: 100%;
  height: auto;
}
.course-card .course-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.course-card .course-info .course-title {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
}
.course-card .course-info .course-ingress {
  font-size: 1rem;
  margin: 0 0 1rem 0;
  color: #555;
}
.course-card .course-info .course-rating {
  font-size: 1rem;
  margin: 0 0 1rem 0;
}
.course-card .course-info .course-rating span {
  margin-right: 0.5rem;
}
.course-card .course-info .course-price {
  font-size: 1rem;
  margin: 0 0 1rem 0;
}
.course-card .course-info .course-price .current-price {
  font-weight: bold;
  color: #27ae60;
}
.course-card .course-info .course-price .discount-price {
  text-decoration: line-through;
  margin-left: 0.5rem;
  color: #e74c3c;
}
.course-card .course-info .course-authors {
  font-size: 1rem;
  margin: 0 0 1rem 0;
  color: #555;
}
.course-card .course-info .course-actions {
  display: flex;
  justify-content: space-between;
}
.course-card .course-info .course-actions .update-button,
.course-card .course-info .course-actions .delete-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.3s;
}
.course-card .course-info .course-actions .update-button {
  background-color: #3498db;
  color: white;
}
.course-card .course-info .course-actions .update-button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}
.course-card .course-info .course-actions .delete-button {
  background-color: #e74c3c;
  color: white;
}
.course-card .course-info .course-actions .delete-button:hover {
  background-color: #c0392b;
  transform: scale(1.05);
}

@media (max-width: 1200px) {
  .articles {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
@media (max-width: 768px) {
  .articles {
    grid-template-columns: 1fr;
  }
}
