.user-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.user-card {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin-bottom:20px;
    box-sizing: border-box;

}

@media (max-width: 1200px) {
    .user-container {
        
        display:block;
    }
    button {
        padding: 3px;
    }
}


.title-box {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
        
}

.title-box h1 {

    flex:1;
    text-align: center;
}
.create-user-btn a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

    .create-course-btn a:hover {
        background-color: #0056b3;
    }


